.header {
  height: 80px;
  border-bottom: 2px solid #dddddd;
  padding: 29px 165px;
}

.header-block-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.header-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-block-logo::before {
  display: inline-block;
  content: "";
  width: 17px;
  height: 17px;
  border: 1px solid #333333;
  border-radius: 50px;
  background-color: initial;
}

.header-block-logo::after {
  display: inline-block;
  content: "";
  width: 17px;
  height: 17px;
  border: 1px solid #333333;
  border-radius: 50px;
  background-color: initial;
}

.header-title-logo {
  display: inline-flex;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  color: #333333;
  position: relative;
}

.header-navigation {
  display: flex;
  flex-direction: row;
}

.header-list-points-nav {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.text-nav {
  font-size: 20px;
  color: #4c5866;
}

.header-menu {
  display: none;
}

.header-block-icons {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 60px;
}

.header-foter-line {
  display: none;
}

.content-width {
}

.hero {
  display: flex;
  flex-direction: row;
}

.hero-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 130px 125px 129px 165px;
  z-index: 1;
  max-width: 450px;
}

.hero-title {
  font-size: 60px;
  color: #4c5866;
  font-weight: 400;
  line-height: 100%;
}

.text {
  font-size: 18px;
  color: #85859b;
}

.hero-button {
  font-size: 20px;
  color: #7875fe;
  background-color: initial;
  border: 1px solid #7875fe;
  padding: 23px 89px;
  margin-right: auto;
}

.hero-picture {
  width: 540px;
  margin-top: 60px;
  margin-right: 165px;
}

@media (max-width: 1439px) {
  body {
    min-width: 765px;
  }

  .header {
    position: relative;
    padding: 11px 39px;
    height: 106px;
  }

  .header-block {
    display: block;
  }

  .header-list-points-nav {
    justify-content: space-between;
    padding-top: 28px;
    width: 100%;
    gap: 0;
  }

  .header-block-icons {
    position: absolute;
    top: 11px;
    right: 39px;
    margin-left: 0;
  }

  .header-foter-line {
    display: block;
    position: absolute;
    width: 100%;
    right: 0;
    top: 38px;
  }

  .hero-block {
    margin: 65px 30px 65px 39px;
  }

  .hero-title {
    font-size: clamp(3.125rem, 2.55rem + 1.3333vw, 3.75rem);
  }

  .hero-picture {
    width: 270px;
    margin-right: 39px;
  }
}

@media (max-width: 689px) {
  body {
    min-width: 576px;
  }
  .header {
    padding: 11px 33px;
  }

  .header-block-icons {
    right: 33px;
  }

  .hero-block {
    margin: 60px 29px 60px 32px;
    gap: 20px;
  }

  .hero-title {
    font-size: clamp(2.375rem, 0.25rem + 6.6667vw, 3.125rem);
  }

  .text {
    font-size: 16px;
  }

  .hero-button {
    padding: 18px 60px;
  }

  .hero-picture {
    width: 195px;
    margin-right: 33px;
    margin-top: 20px;
  }
}

@media (max-width: 509px) {
  body {
    min-width: 320px;
  }

  .header {
    padding: 11px 15px;
  }

  .header-block-logo {
    justify-content: center;
    padding-bottom: 29px;
  }

  .header-menu {
    display: block;
    padding-top: 2px;
  }

  .header-menu[open] .icon-burger {
    display: none;
  }

  .header-menu[open] .icon-close {
    display: block;
  }

  .header-list-points-nav {
    display: none;
  }

  .icon-burger {
    width: 21px;
    height: 21px;
  }

  .icon-close {
    display: none;
    width: 21px;
    height: 21px;
    margin-bottom: 22px;
  }

  .header-menu-list-item {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .header-block-icons {
    margin-left: auto;
    position: static;
  }

  .hero-block {
    margin: 49px 16px 49px 15px;
    gap: 15px;
  }

  .hero-title {
    font-size: clamp(1.875rem, 1.0329rem + 4.2105vw, 2.375rem);
    min-width: 250px;
  }

  .text {
    font-size: 14px;
  }

  .hero-button {
    padding: 14px 38px;
  }

  .hero-picture {
    display: none;
  }
}
