.header {
  height: 80px;
  border-bottom: 2px solid #dddddd;
  padding: 29px 165px;
}

.header-block-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.header-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-block-logo::before {
  display: inline-block;
  content: "";
  width: 18px;
  height: 17px;
  border: 1px solid #333333;
  border-radius: 50px;
  background-color: initial;
}

.header-block-logo::after {
  display: inline-block;
  content: "";
  width: 18px;
  height: 17px;
  border: 1px solid #333333;
  border-radius: 50px;
  background-color: initial;
}

.header-title-logo {
  display: inline-flex;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  color: #333333;
  position: relative;
}

.header-navigation {
  display: flex;
  flex-direction: row;
}

.header-list-points-nav {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.header-list-points-nav a:focus-visible{
  background-color: #DAD9FB;
  outline: none;
  padding-left: 5px;
  padding-right: 5px;
}

.text-nav {
  font-size: 20px;
  color: #4c5866;
}

.text-nav:hover{
  color: #7875FE;
}

.header-menu {
  display: none;
}

.header-block-icons {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 60px;
}

.header-foter-line {
  display: none;
}

.content-width {
  padding: 90px 165px;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.hero-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 130px 125px 129px 165px;
  z-index: 1;
  max-width: 450px;
}

.hero-title {
  font-size: 60px;
  color: #4c5866;
  font-weight: 400;
  line-height: 100%;
}

.text {
  font-size: 18px;
  color: #85859b;
  line-height: 170%;
}

.button-style {
  font-size: 20px;
  color: #7875fe;
  background-color: initial;
  border: 1px solid #7875fe;
  padding: 23px 94px;
  margin-right: auto;
  cursor: pointer;
}

.hero-picture {
  width: 540px;
  margin-top: 60px;
  right: 165px;
  position: absolute;
}

.composition-paper {
  background-color: #ebebeb;
  position: relative;
  min-height: 165px;
}

.composition-paper-list-item {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
}

.composition-levels-cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  border-top: 1px solid #c0c0c0;
  padding-top: 20px;
}

.composition-levels-cards-title {
  font-size: 18px;
  color: #666666;
}

.composition-paper-block {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 90px;
}

.composition-block-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 59px;
}

.title {
  font-size: 40px;
  font-weight: 400;
  color: #666666;
}

.cards-goods-sales {
  display: flex;
  flex-direction: row;
  gap: 30px;
  min-height: 164px;
  z-index: 0;
}

.card-goods {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-block-picture {
  position: relative;
  height: 180px;
  background-color: #ebebeb;
  overflow: hidden;
}

.cards-packaging1-picture {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 11px;
  width: 110px;
  height: 155px;
  transform: rotate(-30deg);
}

.cards-packaging2-picture {
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 10px;
  width: 216px;
  height: 83px;
  transform: rotate(-73deg);
}

.cards-packaging3-picture {
  position: absolute;
  top: 110px;
  left: 73px;
  width: 202px;
  height: 99px;
  transform: rotate(-45deg);
}

.card-goods-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-goods-title {
  font-size: 30px;
  color: #666666;
  font-weight: 400;
}

.card-goods-text {
  font-size: 14px;
  color: #b5b5bd;
}

.card-goods-link {
  font-size: 20px;
  color: #7875fe;
}

.card-paper-picture {
  position: absolute;
  top: 12px;
  left: 15px;
  width: 225px;
  height: 363px;
  filter: grayscale(30%) brightness(0.95) contrast(1.1) saturate(0.1);
}

.cards-case-picture {
  position: absolute;
  top: 55px;
  left: 40px;
  width: 216px;
  height: 178px;
  transform: rotate(-30deg);
  filter: brightness(0.8);
}

.cards-folder-picture {
  position: absolute;
  top: 33px;
  left: 33px;
  width: 139px;
  height: 194px;
  transform: rotate(-18deg);
}

.cards-box-picture {
  position: absolute;
  top: 8px;
  left: 126px;
  width: 108px;
  height: 223px;
  transform: rotate(15deg);
}

.brands {
  background-color: #ebebeb;
}

.brands-block {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
}

.brand-picture {
  width: 255px;
  height: 135px;
}

.purchase-sketchbook {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  position: relative;
}

.purchase-sketchbook-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 114px 0px 114px 164px;
  max-width: 500px;
}

.purchase-button {
  padding-left: 94px;
  padding-right: 94px;
  margin-top: 22px;
}

.picture-wrapper {
  background-image: url("../Image/Book.png");
  width: 730px;
  height: 410px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 90px;
  margin-right: 165px;
}

.picture-book {
  position: absolute;
  z-index: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #4c5866;
  height: 80px;
  position: relative;
  z-index: 1;
  padding: 29px 162px;
}

.footer-block-logo {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
}

.footer-block-logo::before {
  display: inline-block;
  content: "";
  width: 18px;
  height: 17px;
  border: 1px solid #fff;
  border-radius: 50px;
  background-color: initial;
}

.footer-block-logo::after {
  display: inline-block;
  content: "";
  width: 18px;
  height: 17px;
  border: 1px solid #fff;
  border-radius: 50px;
  background-color: initial;
}

.footer-title-logo {
  display: inline-flex;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  color: #fff;
  position: relative;
}

.footer-year {
  display: flex;
  justify-content: center;
  font-size: 13px;
  color: #4c5866;
  text-transform: uppercase;
}

.footer-line{
  display: none;
  width: 100%;
  opacity: 20%;
}

.footer-platforms-list-item {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

@media (max-width: 1439px) {
  body {
    min-width: 765px;
  }

  .header {
    position: relative;
    padding: 11px 39px;
    height: 106px;
  }

  .header-block {
    display: block;
  }

  .header-list-points-nav {
    justify-content: space-between;
    padding-top: 28px;
    width: 100%;
    gap: 0;
  }

  .header-block-icons {
    position: absolute;
    top: 11px;
    right: 39px;
    margin-left: 0;
  }

  .content-width {
    padding: 60px 39px;
  }

  .header-foter-line {
    display: block;
    position: absolute;
    width: 100%;
    right: 0;
    top: 38px;
  }

  .hero-block {
    margin: 65px 30px 65px 39px;
  }

  .hero-title {
    font-size: clamp(3.125rem, 2.55rem + 1.3333vw, 3.75rem);
  }

  .button-style {
    margin-top: 0px;
  }

  .hero-picture {
    position: static;
    width: 270px;
    margin-right: 39px;
  }

  .composition-levels-cards {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .composition-paper-block {
    margin-top: 40px;
  }

  .composition-block-text {
    margin-top: 0px;
  }

  .composition-paper-picture {
    width: 330px;
    height: 256px;
  }

  .title {
    font-size: clamp(1.875rem, 1.3rem + 1.3333vw, 2.5rem);
  }

  .cards-goods-sales {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px 30px;
  }

  .cards-packaging1-picture {
    left: 45px;
  }

  .cards-packaging2-picture {
    left: 42px;
  }

  .cards-packaging3-picture {
    left: 105px;
  }

  .card-paper-picture {
    left: 50px;
  }

  .cards-case-picture {
    left: 55px;
  }

  .cards-folder-picture {
    left: 63px;
  }

  .cards-box-picture {
    left: 160px;
  }

  .brand-picture {
    width: 150px;
    height: 80px;
  }

  .purchase-sketchbook-block {
    gap: 20px;
    padding: 60px 0px 60px 39px;
    max-width: 350px;
  }

  .picture-wrapper {
    background-image: url("../Image/Book\ 690.png");
    width: 449px;
    margin-top: 60px;
    margin-right: 0px;
  }

  .footer {
  padding: 29px 39px;
}
}

@media (max-width: 689px) {
  body {
    min-width: 576px;
  }
  .header {
    padding: 11px 33px;
  }

  .header-block-icons {
    right: 33px;
  }

  .content-width {
    padding: 60px 33px;
  }

  .hero-block {
    margin: 60px 29px 60px 32px;
    gap: 20px;
  }

  .hero-title {
    font-size: clamp(2.375rem, 0.25rem + 6.6667vw, 3.125rem);
  }

  .button-style {
    padding: 18px 65px;
  }

  .text {
    font-size: 16px;
  }

  .hero-button {
    padding: 18px 60px;
  }

  .hero-picture {
    width: 195px;
    margin-right: 33px;
    margin-top: 20px;
  }

  .composition-levels-picture {
    width: 150px;
    height: 111px;
  }

  .composition-levels-cards-title {
    font-size: 16px;
  }

  .composition-paper-block {
    flex-direction: column;
    gap: 20px;
  }

  .composition-block-text {
    gap: 14px;
  }

  .composition-paper-picture {
    height: 255px;
  }

  .title {
    font-size: clamp(1.5rem, 0.4375rem + 3.3333vw, 1.875rem);
  }

  .card-goods-description {
    gap: 4px;
  }

  .card-goods-title {
    font-size: clamp(1.5rem, 0.4375rem + 3.3333vw, 1.875rem);
  }

  .cards-goods-sales {
    gap: 40px 30px;
  }

  .cards-packaging1-picture {
    left: 10px;
  }

  .cards-packaging2-picture {
    left: 8px;
  }

  .cards-packaging3-picture {
    left: 70px;
  }

  .card-paper-picture {
    left: 23px;
    width: 195px;
  }

  .cards-case-picture {
    left: 43px;
  }

  .cards-folder-picture {
    left: 40px;
    width: 123px;
  }

  .cards-box-picture {
    left: 115px;
    width: 92px;
  }

  .brands-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .brand-picture {
    width: 240px;
    height: 127px;
  }

  .purchase-sketchbook {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .purchase-sketchbook-block {
    padding: 0px 33px 60px 33px;
    max-width: 600px;
  }

  .picture-wrapper {
    background-image: url("../Image/Book\ 510.png");
    width: 449px;
    height: 341px;
    margin: 60px 64px 0px 63px;
    order: -1;
  }

    .footer {
  padding: 29px 33px;
}
}

@media (max-width: 509px) {
  body {
    min-width: 320px;
  }

  .header {
    padding: 11px 15px;
  }

  .header-block-logo {
    justify-content: center;
    padding-bottom: 29px;
  }

  .header-menu {
    display: block;
    padding-top: 2px;
  }

  .header-menu[open] .icon-burger {
    display: none;
  }

  .header-menu[open] .icon-close {
    display: block;
  }

  .header-list-points-nav {
    display: none;
  }

  .icon-burger {
    width: 21px;
    height: 21px;
  }

  .icon-close {
    display: none;
    width: 21px;
    height: 21px;
    margin-bottom: 22px;
  }

  .header-menu-list-item {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .header-block-icons {
    margin-left: auto;
    position: static;
  }

  .content-width {
    padding: 60px 15px;
  }

  .hero-block {
    margin: 49px 16px 49px 15px;
    gap: 15px;
  }

  .hero-title {
    font-size: clamp(1.875rem, 1.0329rem + 4.2105vw, 2.375rem);
    min-width: 250px;
  }

  .button-style {
    padding: 14px 38px;
    font-size: 18px;
  }

  .text {
    font-size: 14px;
  }

  .hero-button {
    padding: 14px 38px;
  }

  .hero-picture {
    display: none;
  }

  .composition-paper-list-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .composition-levels-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .composition-levels-picture {
    width: 130px;
    height: 96px;
  }

  .composition-paper-block {
    margin-top: 60px;
  }

  .composition-paper-picture {
    width: 290px;
    height: 223px;
  }

  .cards-goods-sales {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .cards-packaging1-picture {
    left: 29px;
  }

  .cards-packaging2-picture {
    left: 20px;
  }

  .cards-packaging3-picture {
    left: 85px;
  }

  .card-paper-picture {
    left: 40px;
    width: 217px;
  }

  .cards-case-picture {
    left: 35px;
  }

  .cards-folder-picture {
    left: 60px;
    width: 123px;
  }

  .cards-box-picture {
    left: 140px;
    width: 92px;
  }

  .brands-block {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .brand-picture {
    width: 150px;
    height: 80px;
  }

  .purchase-sketchbook-block {
    padding: 0px 15px 60px 15px;
    max-width: 600px;
  }

  .picture-wrapper {
    width: 290px;
    height: 221px;
    margin: 60px 15px 0px 15px;
  }

  .footer {
  display: flex;
  flex-direction: column;
  height: 127px;
  padding: 20px 15px;
}

.footer-block-logo {
 justify-content: center;
}

.footer-line{
display: flex;
}

.footer-platforms-list-item{
  justify-content: center;
}
}
